@import url(//db.onlinewebfonts.com/c/3724259186746d86859fbb0fde0fa44a?family=Druk+Text+Wide+Web+Medium);


.web-dev {
    text-align: center;
    color: #ffffff;
    margin-bottom: 3em;
}
.web-dev h1{
    padding-top: 4px;
    font-family: "Druk Text Wide Web Medium";
    /* font-size: 72px; */
    background: linear-gradient(to right, #f7d166, #fda283);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.web-dev p{
    font-family: font-tertiary;
    font-size: 13.5px;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
    text-align: center;
    margin: 0 15em;
    line-height: 2;
}
.btn{
    margin-top: 13px;
    background-color: #f9a826;
    color: #ffffff;
    font-family: font-tertiary;
    cursor: pointer;
    padding: 13px 23px;
    font-size: 0.5em;
    font-weight: bold;
    border: none;
    letter-spacing: 0.1rem;
}
.description{
    padding-top: 20px;
}

.camp{
    padding: 5px 5px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2em;
}
.content{
    
    margin: 7px 90px;
    background-color: #ffffff;
    height: 232px;
    width: 500px;
    font-size: small;
    position: relative;
}
.index{
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    position: relative;
}

.course-btn{
    background-color: #f9a826;
    font-family: font-tertiary;
    padding: 2px 4  px;
    border: none;
    font-size: 0.8em;
    margin-top: 8px;
}
.index a{
    color: black;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 0.2rem;
    font-weight: bold;
    font-family: font-tertiary;
}

.bottom-heading{
    font-family: "Druk Text Wide Web Medium"!important;
    text-align: center;
    background-color: #f9a826;
    margin-top: 40px;
    line-height: 3em;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    width: 100%;

}