* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* transition the pages */

.transition-fade {
  opacity: 1;
  transition: 500ms;
  transform: translateX(0);
  transform-origin: left;
}

html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(100%);
}

html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateX(0);
}
/*end of transitioning  */

/* VARIABLES, FONTS & MIXINS */
$primary-orange: #f9a826;
$shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
$gradient-orange: linear-gradient(to bottom right, #f6d166, #fda283);

@font-face {
  font-family: font-main;
  src: url(../fonts/druk/DrukTextWide-Medium.otf);
}

@font-face {
  font-family: font-secondary;
  src: url(../fonts/druk/DrukTextWide-Super.ttf);
}

@font-face {
  font-family: font-tertiary;
  src: url(../fonts/arial/arial.ttf);
}

/* WEBSITE */
.site {
  height: 120vh;
  background: $gradient-orange;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.5rem 4rem;

  /* MAIN BACKGROUND */
  .background {
    height: 100%;
    background-image: radial-gradient(#3a404b, #21242b);
    box-shadow: $shadow;
    padding: 1.5rem 4rem 0 4rem;

    /* NAVIGATION */
    .background__navbar {
      display: flex;
      justify-content: space-between;
      font-size: 0.65rem;
      text-transform: uppercase;
      

      &--logo {
        width: 8rem;
        &:hover {
          cursor: pointer;
        }
      }

      &--list {
        display: flex;
        list-style: none;
        padding-top: 1.3rem;

        li {
          color: #fff;
          margin: 0 2rem;
          font-family: font-main;
          transition: all 0.35s ease-in-out;
          font-size: 0.55rem;
          &:hover {
            cursor: pointer;
            color: $primary-orange;
            transform: scale(1.07);
            box-shadow: $shadow;
          }
        }
        a {
          text-decoration: none;
        }
      }
    }

    .wrapper {
      
      height: calc(100% - 120px);
      display: flex;
      align-items: flex-end;

      .content__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        width: fit-content;

        /* MAIN CONTENT */
        .background__content {
          
          width: fit-content;
          transform: translateY(50%);

          /* HOME PAGE */
          .background__home {
            &--p1 {
              span {
                color: $primary-orange;
              }
              color: #fff;
              text-transform: uppercase;
              font-family: font-main;
              font-size: 1.7rem;
              transform: scaleY(0.8);
            }
            &--p2 {
              color: #fff;
              text-transform: uppercase;
              font-family: font-secondary;
              font-size: 3.5rem;
              transform: scaleY(0.8);
              margin-top: -1.1rem;
            }
            &--p3 {
              color: #fff;
              text-transform: uppercase;
              font-family: font-tertiary;
              font-size: 0.6rem;
              margin-top: -0.65rem;
              margin-left: 0.3rem;
              font-weight: bold;
              letter-spacing: 0.2rem;
            }
            &--p4 {
              color: #fff;
              text-transform: uppercase;
              font-family: font-tertiary;
              font-size: 0.48rem;
              margin-top: 1.2rem;
              margin-left: 0.3rem;
              letter-spacing: 0.38rem;
            }

            &--btn {
              margin-top: 5rem;
              color: #fff;
              background-color: $primary-orange;
              border: none;
              padding: 1.1rem 2.3rem;
              font-family: font-tertiary;
              font-weight: bold;
              text-transform: uppercase;
              font-size: 0.6rem;
              letter-spacing: 0.4rem;
              transition: all 0.35s ease-in-out;

              &:hover {
                cursor: pointer;
                transform: scale(1.06);
                box-shadow: $shadow;
              }
            }
          }

          /* ABOUT PAGE */
          .background__about {
            &--title {
              font-size: 2.5rem;
              background: $gradient-orange;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              text-transform: uppercase;
              font-family: font-secondary;
              transform: scaleY(0.8);
              width: fit-content;
              margin-bottom: 2rem;
            }

            &--p1,
            &--p2,
            &--p3 {
              color: #fff;
              text-transform: uppercase;
              font-family: font-tertiary;
              font-size: 0.65rem;
              // font-weight: bold;
              letter-spacing: 0.2rem;
              margin-bottom: 2.5rem;
              line-height: 1.65rem;
            }

            &--image {
              position: absolute;
              width: 36%;
              margin-left: 48rem;
              margin-top: -34.5rem;
              object-fit: contain;
            }
          }
        }

        /* SPONSORS */
        .background__sponsors {
          
          width: fit-content;
          display: flex;
          align-items: center;
          margin: 0 0 3% 6%;

          img {
            width: 4rem;
            margin: 0 2.5rem;
          }
        }

        /* SOCIALS */
        .background__socials {
          display: flex;
          align-items: center;
          margin-left: 2rem;

          a {
            text-decoration: none;
          }

          img {
            width: 1.8rem;
            margin: 0 2rem;
          }
        }
      }
      .background__home--image {
        width: 26%;
        margin-left: 8%;
      }
    }
  }
}
