* {
    margin: 0;
    padding: 0;
}

:root {
    --bs: 1em 1em 2em rgba(0, 0, 0, .25), 0.5em 0.5em 1em rgba(0, 0, 0, .15);
}


/* bs=box shadow */


/* transition the pages */

.transition-fade {
    opacity: 1;
    transition: 700ms;
    transform: translateX(0);
    transform-origin: left;
}

.transition-fade {
    opacity: 1;
    transition: 600ms;
    transform: translateX(0);
    transform-origin: left;
}

html.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(100%);
}

html.is-leaving .transition-fade {
    opacity: 1;
    transform: ease-out;
}


/*end of transitioning  */

body {
    background-image: linear-gradient(90deg, #f7d166 0%, #f7d166 50%, #fda283 100%);
    ;
}

.container {
    height: 140vh;
    width: 90%;
    position: relative;
    background-color: #000;
    background-image: linear-gradient(90deg, #181719 0%, #3a3d40 50%, #181719 100%);
    margin: 4em 4em 4em 4em;
    align-content: center;
    box-shadow: var(--bs)
}

.navbar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.logo img {
    width: 40%;
    cursor: pointer;
    margin: 35px 0;
}

.nav__list ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    text-transform: uppercase;
}

.nav__list ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    padding: 5px 0;
}

.nav__list ul li a :hover {
    color: #FF662c;
}

.content-row {
    display: flex;
    width: 90%;
    align-items: center;
    margin: auto;
}

.right-col,
.left-col {
    flex-basis: 50%;
}

.left-col {
    padding: 2px;
    margin-bottom: 22rem;
}

.first-header a {
    color: #FF662c;
    text-decoration: none;
    font-size: 20px;
}

.first-header a strong {
    color: #ffffff;
}

.left-col h1 {
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 2px;
}

.left-col h3 {
    color: #ffffff;
}

.left-col p {
    color: #ffffff;
    font-size: 9px;
    margin-top: 1rem;
}

.left-col button {
    background-color: #FF662c;
    border: none;
    color: white;
    margin-top: 3rem;
    padding: 4px 28px;
    font-size: 16px;
    transition: transform 400ms cubic-bezier(.5, 0, .5, 1), opacity 200ms linear;
}

.left-col button:hover,
.left-col button:focus .left-col button {
    transform: scale(1.5);
    opacity: .5;
}

.left-col img {
    width: 50px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-top: 60px;
    position: relative;
    margin-right: 20px;
}

.right-col img {
    width: 400px;
    cursor: pointer;
}


/*about section */

.right-content,
.left-content {
    flex-basis: 50%;
}

.left-content {
    padding: 2px;
    margin-bottom: 22rem;
}

.about-header {
    color: #FF662c;
    text-decoration: none;
    font-size: bold 30px;
}

.left-content p {
    color: #ffffff;
    font-size: 12px;
    margin-top: 1rem;
}

.social-networks img {
    width: 25px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-top: 60px;
    position: relative;
    margin-right: 20px;
}

.social-networks a {
    text-decoration: none;
}

.social-networks {
    margin-top: 0.5rem;
    margin-left: 3rem;
}

.right-content img {
    width: 400px;
    cursor: pointer;
    float: right;
}

.right-content {
    margin-bottom: 8rem;
}


/*end of about section */


/* Category section */

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 800px;
    margin: 1em auto;
}


/* for each category card */

.imge {
    box-shadow: var(--bs);
}

.category {
    margin: 1em 1em;
    transition: transform 500ms cubic-bezier(.5, 0, .5, 1), opacity 200ms linear;
}

.category:hover,
.category:focus .category {
    transform: scale(1.2);
    opacity: .5;
}

.nav__link:hover,
.nav__link:focus .nav_link {
    color: #FF662c
}